/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

traefik.toml
/docker
docker-compose.yml

/proflow-backend/node_modules
/proflow-backend/public/hot
/proflow-backend/public/storage
/proflow-backend/storage/*.key
/proflow-backend/vendor
/proflow-backend/.env
/proflow-backend/.env.backup
/proflow-backend/.phpunit.result.cache
/proflow-backend/Homestead.json
/proflow-backend/Homestead.yaml
/proflow-backend/npm-debug.log
/proflow-backend/yarn-error.log

/proflow-backend/traefik.toml
/proflow-backend/docker
/proflow-backend/docker-compose.yml

/proflow-frontend/dist